body {
    background-image: url('http://googleusercontent.com/image_collection/image_retrieval/15868520601876499474');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Dodaj półprzezroczystą nakładkę na treść, aby tekst był czytelny na zdjęciu */
.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}